extends ../layout

block content
  h1 ログイン
  if error
    #error= e
  form(action="/admin/sessions" method="post")
    .form-group
      label(for="user[email]")
      input(type="email" name="user[email]" plaeholder="Enter your email")
    .form-group
      label(for="user[password]")
      input(type="password" name="user[password]")
    input(type="submit" value="ログイン")
